<form id="editLecture">
    <div class="block_photo__full">
        {{#if photo}}
            <img class="block_photo__avatar" src="{{photo}}" alt="фото:{{name}}">
        {{else}}
            <img class="block_photo__avatar" src="css/img/default.png" alt="default photo">
        {{/if}}
    </div>
    <div class="block_info block_info__editable">
        <header>
            <label class="block_edit">
                <span class="block_edit_label__text">Название</span>
                <input class="block_edit_input" name="title" value="{{title}}" type="text">
                <span class="block_edit_message hide"></span>
            </label>
            <label class="block_edit">
                <span class="block_edit_label__text">Лектор</span>
                <select class="block_edit_select" name="lector">
                    <option value=""></option>
                    {{#each lectors}}
                        <option value="{{@key}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <span class="block_edit_message hide"></span>
            </label>
        </header>
        <ul class="block_links">
            {{#each links}}
                <li class="block_link__vert">
                    {{#each this}}
                        <label class="block_edit">
                            <span class="block_link_icon block_link_icon__{{@key}}"></span>
                            <input class="block_edit_input block_edit__wide"  name="links[{{@index}}].{{@key}}" value="{{this}}" type="text">
                        </label>
                    {{/each}}
                </li>
            {{/each}}
        </ul>
        <ul class="block_link_control block_link_control__editable">
            <li class="block_link"><a href="#" class="block_link_icon  block_link_icon__save" title="Сохранить"></a></li>
            <li class="block_link"><a href="#" class="block_link_icon  block_link_icon__close" title="Закрыть"></a></li>
        </ul>
    </div>
</form>